MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
MONGO_DB=btg-funds
MONGO_PORT=27017
MONGO_HOST="127.0.0.1"
MONGO_CONNECTION=mongodb

EMAIL_USER="sender@email.com"
EMAIL_PASS="1234 1234 1234 1234"

AWS_ACCESS_KEY_ID="YOURAWSACCESSKEYID"
AWS_SECRET_ACCESS_KEY="YOURAWSSECRETACCESSKEY"
AWS_REGION="aws-region"