<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Fondos de Inversión</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    @for(transaction of transactions(); track transaction._id; let i = $index) {
    <mat-card class="b-1 shadow-none">
      <mat-card-header>
        <mat-card-title>{{transaction._id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle class="f-s-16 f-w-600">Monto</span>
            <span matListItemLine class="mat-body-1">{{transaction.amount}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="f-s-16 f-w-600">Tipo</span>
            <span matListItemLine class="mat-body-1">{{transaction.type}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="f-s-16 f-w-600">Usuario</span>
            <span matListItemLine class="mat-body-1">{{transaction.user}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="f-s-16 f-w-600">Fondo</span>
            <span matListItemLine class="mat-body-1">${{transaction.fund}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    }
  </mat-card-content>
</mat-card>
