<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Usuario</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-card class="b-1 shadow-none">
      <mat-card-header>
        <mat-card-title>Información</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block"
                >Nombre completo</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input
                  matInput
                  disabled
                  value="{{ user().firstName }} {{ user().lastName }}"
                />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block">Fondos</mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput disabled value="$ {{ user().wallet }}" />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block">Cédula</mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput disabled [value]="user().nationalId" />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block"
                >Correo electrónico</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput formControlName="email" type="email" />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <!-- input -->
              <mat-label class="f-w-600 m-b-8 d-block">Celular</mat-label>
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="tel" formControlName="phoneNumber" />
              </mat-form-field>
            </div>
            <div class="col-lg-6">
              <mat-label class="f-w-600 m-b-8 d-block"
                >Método de notificación</mat-label
              >
              <mat-form-field appearance="outline" class="w-100">
                <mat-select [(value)]="selectedMethod">
                  @for(option of notificationMethods; track option) {
                  <mat-option [value]="option">{{ option }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <button
            mat-flat-button
            color="primary"
            class="d-flex justify-content-center"
            (click)="updateUser()"
            [disabled]="!formGroup.valid"
          >
            Actualizar
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
