<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Suscripciones</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    @for(subscription of subscriptions(); track subscription._id; let i = $index) {
    <mat-card class="b-1 shadow-none">
      <mat-card-header>
        <mat-card-title>Subscripción {{i + 1}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <mat-list>
          <mat-list-item>
            <span matListItemTitle class="f-s-16 f-w-600">Fondo</span>
            <span matListItemLine class="mat-body-1">{{subscription.fund.fundName}}</span>
          </mat-list-item>
          <mat-list-item>
            <span matListItemTitle class="f-s-16 f-w-600">Monto</span>
            <span matListItemLine class="mat-body-1">${{subscription.amount}}</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    }
  </mat-card-content>
</mat-card>
